!!!
%html
  %head
    %title Encuestas
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'estilos_concurso.css'
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'application.js'
    = csrf_meta_tag
  %body
    #main
      #header
        = link_to "http://www.unam.mx/" do
          = image_tag "https://www.dgae.unam.mx/imgs/encabezado-unam.gif"
        = image_tag "https://www.dgae.unam.mx/imgs/stock/rotate.php"

      #container
        #vacio
          %br
          %span{:id => 'titulosespeciales' }
            %strong  Administraci&oacute;n de Hojas de Datos Estad&iacute;sticos
          %br
          = yield
  
          %br
          %br
          %span
            %strong{:id => 'azul' } Subdirecci&oacute;n de Dise&ntilde;o de Proyectos.